<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootajax.dao.UserDao">
    <select id="findAll" resultType="User">
        select * from user
    </select>
    <select id="findGradeByStudentName" parameterType="java.lang.String" resultType="Grade">
        select * from grade where student_name like concat('%',#{student_name},'%')
    </select>
    <select id="findById" parameterType="java.lang.Integer" resultType="User">
        select * from user where id=#{id}
    </select>
    <insert id="save" parameterType="User">
        insert into user(username, password) values (#{username},#{password})
    </insert>
    <update id="update" parameterType="User">
        update user set username=#{username},password=#{password} where id=#{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>
    <select id="findByUserName" parameterType="User" resultType="User">
        select * from user where username = #{username}
    </select>

    <select id="login" parameterType="User" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="findAllGrade" resultType="Grade">
        select * from grade
    </select>

    <select id="findGradeById" parameterType="java.lang.Integer" resultType="Grade">
        select * from grade where id=#{id}
    </select>
    <insert id="saveGrade" parameterType="Grade">
        insert into grade(student_name,yw,sx,yy,zyk) values (#{student_name},#{yw},#{sx},#{yy},#{zyk})
    </insert>
    <update id="updateGrade" parameterType="Grade">
        update grade set student_name=#{student_name},yw=#{yw},sx=#{sx},yy=#{yy},zyk=#{zyk} where id=#{id}
    </update>
    <delete id="deleteGradeById" parameterType="java.lang.Integer">
        delete from grade where id=#{id}
    </delete>
</mapper>