<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div>
    用户名：<input id="username" type="text"><br>
    密码：<input id="password" type="password"><br>
    验证码：<input id="inputVcode" type="text"><img src="/user/createCode" /><br>

    <input id="login" type="button" value="登录"><br>
    <input onclick="location='/user/toReg'" type="button" value="注册"><br>
</div>
<script>
    $(function () {
        $('#login').click(function () {
            $.post('/user/login',{
                username:username.value,
                password:password.value,
                inputVcode:inputVcode.value
            },function (data) {
               if (data == 1){
                   alert('登陆成功！');
                   location = "/user/toGrade";
               } else if (data == 2) {
                   alert('验证码错误！')
               }else{
                   alert('用户名或密码错误！')
               }
            })
        });
    })
</script>
</body>
</html>